@font-face {
    font-family: 'titlef';
    src: url('../assets/akfonts/titlef.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rpf';
    src: url('../assets/akfonts/rpf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'modak';
    src: url('../assets/akfonts/modak.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bt';
    src: url('../assets/akfonts/brightons.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ut';
    src: url('../assets/akfonts/UnderstockRound.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page {
    height: 100vh;
    width: 100vw;
    /* background-color: crimson; */
    position: relative;
    font-size: 4vw;
    color: #afc4d7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url('disneyland.png');
    background-repeat: no-repeat;*/
}


#page {
    height: 84.7vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
    font-size: 4vw;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url('disneyland.png');
    background-repeat: no-repeat;*/
}

#main {
    width: 100%;
    height: calc(100vh - 10vh);
    color: #afc4d7;
    padding: 6vh 2vw;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;

}

#main .title h1 {
    width: 100%;
    /* height: calc(100% - 15vh); */
    color: #afc4d7;
    /* padding: 10vh 2vw; */
    /* background-color: red; */


}

#main .title h1 {
    /* font-family: HelveticaNowDisplay,Arial,sans-serif; */
    font-family: 'bt';
    font-size: 15vw;

    word-spacing: 1.5vw;
    line-height: 1.1;
}

.masked-text {
    color: crimson;
}

.sp {
    /* padding-bottom: 5vh; */
    /* background-color: #151623; */
    color: crimson;
    font-size: 16vw;
    font-family: 'bt';
    word-spacing: 1.5vw;
    line-height: 1.1;

}


#main .title #sub h5 {
    font-size: 1.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    font-family: 'titlef';
    color: #204A52;
}

#page2 {
    background-image: url("../assets/images/disneyland.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.page #sub,
#page5 #sub {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    /* padding: 12vw 8vh; */
    color: rgb(67, 255, 123);
    border: 0.1vw solid rgb(67, 255, 123);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5vw);


    /* -webkit-backdrop-filter:blur(10px); */
    font-family: 'ut';
    border-radius: 2vw;
    padding: 12vh 10vw;
}

.page #sub h4 {
    color: rgb(67, 255, 123);
    font-family: 'rpf';
    font-size: 5vw;
}

.page #sub pre {
    color: rgb(67, 255, 123);
    font-family: 'rpf';
}


#page3 {
    background-image: url("../assets/images/photo-collage.png.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

#page4 {
    background-image: url("../assets/images/photo-collage(2).png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.rides {
    padding: 2vh 3vw;
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin-top: 20vh;
}

.ride {
    margin: 3vh 3vw;
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1vw;
    margin-bottom: 2vh;
    font-size: 2vw;
    background: rgb(234, 143, 68);
    backdrop-filter: blur(2vw);
    z-index: 10;
    /* border: 0.1vw solid #151623; */
}

.ride h6 {
    font-family: 'rpf';
    font-weight: 550;
    color: #204A52;
    text-align: center;
    /* margin-bottom: 1vh; */
}

.ride p {
    font-family: 'titlef';
    font-weight: 550;
    color: azure;
    text-align: center;
    /* margin-bottom: 1vh; */
}

.ride-image {
    width: 100%;
    /* margin-bottom: 1vh; */
    height: 70%;
    object-fit: cover;
    object-position: center;
    border-radius: 1vw;
}

#page5 #head {
    position: absolute;
    top: 6vh;
    /* height: 20vh; */
    color: antiquewhite;
    padding: 0.5vw 1.5svw;
    border-radius: 0.5vw;
    background: #204A52;
    /* margin-bottom: 1vh; */
}

.scene-container {
    background-color: #000;
}

.page1 {
    height: 541vh;
    width: 100vw;
    background-color: rgb(96, 25, 230);
    position: relative;
    font-size: 4vw;
    color: rgb(6, 155, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50vh;
    /* margin-bottom: -20vh; */
    /* border: black 2px solid ; */
    /* background-image: url('disneyland.png');
    background-repeat: no-repeat;*/
}
.footer {
    height: 40vh;
    width: 100vw;
    background-color: #7b3306;
    position: absolute;
    z-index: 10;
    bottom: 0vh;
    left: 0vw;
    /* font-size: 4vw;
    color: rgb(6, 155, 155); */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;  */
    /* background-image: url('disneyland.png');
    background-repeat: no-repeat;*/
}